<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="We AA Developers are here to serve you with building high-quality websites. Our expertise range from building responsive sites, UI sites that work well across any browser.">
    <meta name="keywords" content="web designing , web development , full stack web development , best web developing firm , best web developing firm in india , best web developing firm in pune , best web development company , html , css , javascript , nodejs , react , take your business online">
    <meta name="author" content="Abhishek Abhane">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="css/style.css" />
    <title>AA developers</title>
</head>

<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container" style="width: 1150px;">
            <a class="navbar-brand" href="/">
                <i class="fa fa-line-chart"></i> AA Developers
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" id="navbarlist">
                    <li class="nav-item">
                        <a href="/#about" class="nav-link smoothScroll">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#project" class="nav-link smoothScroll">Our Works</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client" class="nav-link">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>