<%- include("partials/header") -%>


    <!-- CLIENT -->
    <div class="aside container" style="width: 1150px;">
        <h4 id="clienthead">Our Clients</h4>
        <div class="card mb-3" data-aos="fade-up" data-aos-delay="100">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/me.png" class="card-img" alt="client image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: #f1c111;">Static</span> Websites</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content
                            is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" data-aos="fade-up" data-aos-delay="100">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/me.png" class="card-img" alt="client image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: #f1c111;">Dynamic</span> Websites</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content
                            is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" data-aos="fade-up" data-aos-delay="100">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/me.png" class="card-img" alt="client image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: #f1c111;">Responsive</span> Websites</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content
                            is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" data-aos="fade-up" data-aos-delay="100">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/me.png" class="card-img" alt="client image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: #f1c111;">Portal</span> Websites</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content
                            is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include("partials/footer") -%>