<%- include("partials/header") -%>


    <!-- CONTACT -->
    <section id="contact-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">

                    <h1 class="mb-4">Hey there, Let's <strong style="color: #f1c111;">talk</strong> about <strong style="color: #f1c111;">creative</strong> projects</h1>

                    <p class="contact-detailed">or email us at <a href="mailto:abhaneabhishek@gmail.com" class="mail">abhaneabhishek@gmail.com</a></p>
                    <p class="contact-detailed">Please follow our <a rel="nofollow" href="/contact" class="mail">contact page</a> to setup the contact form.</p>
                </div>

                <div class="col-lg-8 mx-auto col-md-10 col-12">

                    <!-- Follow https://templatemo.com/contact page to setup your own contact form -->

                    <form action="/contact" method="POST" class="contact-form" data-aos="fade-up" data-aos-delay="300" role="form">
                        <div class="row">
                            <div class="col-lg-6 col-12 inputbar">
                                <input type="text" class="form-control input" name="name" placeholder="Name" id="name" required>
                            </div>

                            <div class="col-lg-6 col-12 inputbar">
                                <input type="email" class="form-control input" name="email" placeholder="Email" id="email" required>
                            </div>

                            <div class="col-lg-12 col-12 inputbar">
                                <textarea class="form-control input" rows="6" name="message" placeholder="Message" id="message" required></textarea>
                            </div>

                            <div class="col-lg-5 mx-auto col-7 inputbar">
                                <button type="submit" class="form-control" id="submit-button" name="submit">Send Message</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- <div class="google-map" data-aos="zoom-in">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1890.992904600579!2d73.8169272!3d18.5746785!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b8ca53ddb585%3A0xf37b3f9347fcf66b!2sDr.%20Bhalerao%20Children%20Hospital!5e0!3m2!1sen!2sin!4v1620825825845!5m2!1sen!2sin"
            width="1920" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div> -->

    <%- include("partials/footer") -%>