<%- include("partials/header") -%>

    <!-- HOME -->
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container" style="width: 1150px;">
            <div class="row">
                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">
                        <h1 class="text-white" data-aos="fade-up" id="heading">We are<span style="color: #f1c111;"> ready</span> for taking your business <span style="color: #f1c111;">online</span></h1>
                        <a href="/contact" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100" id="btn">Let us discuss together!</a>
                        <strong class="d-block py-3 pl-5 text-white" id="phoneNumber" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i><a href="tel:+91 9689398517" style="text-decoration: none; color:white;">+91 9689398517</a></strong>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                        <img src="/images/manWithComputer.png" class="img-fluid" alt="working girl">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="about section-padding pb-0" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto col-md-10 col-12">
                    <div class="about-info">
                        <h2 class="mb-4" data-aos="fade-up" style="font-weight: 350;" id="about-head">The best <span style="color: #f1c111;">web designing firm</span> in India</h2>
                        <p class="mb-0" data-aos="fade-up">We <span style="color: #f1c111;">AA Developers</span> are here to serve you with building high-quality websites. Our expertise range from building responsive sites, UI sites that work well across any browser. Our specialties include:
                            <ul class="mb-0" data-aos="fade-up">
                                <li>Web design</li>
                                <li>responsive sites</li>
                                <li>backend development</li>
                                <li>php</li>
                                <li>node js</li>
                                <li>express</li>
                                <li>EJS</li>
                                <li>MySQL</li>
                                <li>mongoDB</li>
                                <li>python</li>
                            </ul>
                            <p class="mb-0" data-aos="fade-up">We assure you that if you work with us once, you will always work with <span style="color: #f1c111;">AA Developers</span> for this kind of projects; We will do whatever it takes to completely deliver our 100% to any project.</p>
                        </p>
                    </div>
                    <div class="about-image" data-aos="fade-up" data-aos-delay="200">
                        <img src="/images/office.png" class="img-fluid" alt="office">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PROJECT -->
    <section class="project section-padding" id="project">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12" id="row">
                    <h2 class="mb-5 text-center" data-aos="fade-up">
                        Please take a look through our live running<br>
                        <span style="color: #f1c111;">projects over web.</span>
                    </h2>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="owl-carousel owl-theme" id="project-slide">
                        <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                            <img src="/images/project/project-image01.jpg" class="img-fluid" alt="project image">
                            <div class="project-info">
                                <small>Static Webpage</small>
                                <h3>
                                    <a href="/">
                                        <span>Sweet Go Agency</span>
                                        <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="item project-wrapper" data-aos="fade-up">
                            <img src="/images/project/project-image02.jpg" class="img-fluid" alt="project image">

                            <div class="project-info">
                                <small>Dynamic Webpage</small>
                                <h3>
                                    <a href="/">
                                        <span>Smart Ladies</span>
                                        <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="item project-wrapper" data-aos="fade-up">
                            <img src="/images/project/project-image03.jpg" class="img-fluid" alt="project image">

                            <div class="project-info">
                                <small>Responsive Webpage</small>
                                <h3>
                                    <a href="/">
                                        <span>Shoes factory</span>
                                        <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="item project-wrapper" data-aos="fade-up">
                            <img src="/images/project/project-image04.jpg" class="img-fluid" alt="project image">
                            <div class="project-info">
                                <small>Portal Webpage</small>
                                <h3>
                                    <a href="/">
                                        <span>Race Bicycle</span>
                                        <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL -->
    <section class="testimonial section-padding">
        <div class="container" style="width: 1150px;" id="testimonial">
            <div class="row" id="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <div class="contact-image" data-aos="fade-up">
                        <img src="/images/male-avatar.png" class="img-fluid" alt="website">
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100" style="font-size: 35px; "><span style="color: #f1c111;">Introducing</span> Me</h4>
                    <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>
                    <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300" style="font-size: 23px; font-weight:lighter;">I'm abhishek abhane a graduate from pune university and an enthusiastic web developer. I started this firm in 2020 and now with the help of all my colleague this is india's top web developing firm.</h2>
                    <p data-aos="fade-up" data-aos-delay="400">
                        <strong><a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_top_card%3BePI5x86XSd%2BSJitP3N1iWw%3D%3D" target="_blank" style="text-decoration: none; color: black;"> Abhishek Abhane </a></strong>
                        <span class="mx-1">/</span>
                        <small>AA Developers (CEO)</small>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <%- include("partials/footer") -%>